/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #A6BF8F; }
.My-Color-Theme-2-hex { color: #6F8060; }
.My-Color-Theme-3-hex { color: #DDFFBF; }
.My-Color-Theme-4-hex { color: #374030; }
.My-Color-Theme-5-hex { color: #C7E6AC; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(166, 191, 143, 1); }
.My-Color-Theme-2-rgba { color: rgba(111, 128, 96, 1); }
.My-Color-Theme-3-rgba { color: rgba(221, 255, 191, 1); }
.My-Color-Theme-4-rgba { color: rgba(55, 64, 48, 1); }
.My-Color-Theme-5-rgba { color: rgba(199, 230, 172, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(91, 27, 65, 1); }
.My-Color-Theme-2-hsla { color: hsla(91, 14, 43, 1); }
.My-Color-Theme-3-hsla { color: hsla(91, 100, 87, 1); }
.My-Color-Theme-4-hsla { color: hsla(93, 14, 21, 1); }
.My-Color-Theme-5-hsla { color: hsla(92, 53, 78, 1); }

body{

    font-family:'Press Start 2P', 'Bangers', 'Barriecito';
    background-color: #374030;
    right: 0;
    left:0;
    width: 100%;
    margin:auto;
}
h1{
    display: block;
    position: relative;
    margin-top: 25px;
    margin-left: 25px;
    color: goldenrod;
    width: 450px;
    text-align: center;
}
article{
    width: 960px;
    background-color: white;
    border: solid black;
    border-radius:25px;
    text-align: justify;
    padding: 10px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
.random-number{
    display:block;
    position: relative;
    background-color: white;
    border: solid black;
    color:black;
    padding: 5px;
    width:160px;
    left:50px;
    top:10px;
    text-align: center;
    z-index: 2;
}
.score{
    display: block;
    position: absolute;
    right: 55px;
    top: 485px;
    background-color: white;
    border: solid black;
    color:black;
    padding: 5px;
    width: 150px;
    text-align: center;
    z-index: 3;
}
/* .game-display{
    display: block;
    position: relative;
    width: 125px;
    margin: auto;
    background-color: white;
    color: black;
    border: solid black;
    bottom:0px;
    left:20px;
} */
.crystal{
    height: 200px;
    width: 200px;
}
.container{
    display:block;
    position: relative;
    width: 960px;
    left:45px;
    right:0;
    margin:auto;
}
#random-number{
    font-size: 24px;
}
